<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".utils.ui.AppController"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.PopupOverlay"
        tools:targetApi="31">
        <activity
            android:name=".ui.presentation.homepage.FestivalBannerEditActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.bannerscreen.WelcomeBannerInputActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.bannerscreen.RankBannerInputActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.bannerscreen.MeetingBannerInputActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.bannerscreen.CloseBannerInputActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.bannerscreen.CashBannerInputActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.others.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.music.OnlineMusicListActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.bannerscreen.BonanzaBannerInputActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.bannerscreen.BirthdayAnniversaryBannerInputActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.bannerscreen.AchievementBannerInputActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.others.ViewBannerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.auth.ContactUsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.home.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.others.NoInternetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.auth.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.auth.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.auth.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".ui.presentation.profile.ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".ui.presentation.bannerSettings.BannerSettingsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.presentation.download.DownloadActivity"
            android:exported="true" />
        <activity
            android:name=".ui.presentation.wallet.WalletActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.LearnHowToUseActivity"
            android:exported="true"
            android:theme="@style/AppTheme.PopupOverlay" />
        <activity android:name=".presentation.BannerEditActivity" />
    </application>

</manifest>